body {
	padding-left: 5%;
	padding-right: 5%; 
	font-family: Arial, Helvetica, sans-serif; }

#users-contain { width: 800px }

table { width: 100%; }
td { width: 25%; padding-left: 10px; padding-right: 10px; }

td.check, td.no_data { text-align: center; }

.user_archive { text-decoration: line-through; }

.email_not_confirmed { font-style: italic; color: #ff7777; }

.del_button { text-align: right; }

.div_hr { width:800px;  margin-top:20px;}
.legend_hr { width:150px;  margin-top:20px;}

.new_row { background-color: #ddffdd }

.td_label { text-align: right; }
.td_flag {}

.check_fail { color: red; }
.check_ok { color: green; }
